@mixin desktop {
  @include media($desktop) {
    @content
  }
  .lt-ie9 & {
    @content
  }
}
/**
* Vertical align anything with just 3 lines of CSS
* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
**/
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/**
USAGE:
   .element p {
        @include vertical-align;
    }
**/
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/**
USAGE:
    .element p {
        @extend %vertical-align;
    }
**/